#body {
  font-family: 'Bebas Neue';
  margin: 0;
  cursor: url("img/red-circle.png"), pointer;
}

.title {
  display: inline-block;
  width: 200px;
  padding-left: 10px;

}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: red;
  color: white;
  padding:0 10px;
}

#email {
  position: absolute;
  top: 350px;
  font-size: 50px;
  color: white;
  width: 100%;
  padding-left: 10px;
  background-color: red;
}
