#body {
  font-family: 'Bebas Neue';
  margin: 0;
  cursor: url("img/red-circle.png"), pointer;
}

.title {
  display: inline-block;
  width: 200px;
  padding-left: 10px;

}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: red;
  color: white;
  padding:0 10px;
}

.gg {
  position: absolute;
  width: 200vh;
  top: 100px;
}

.press {
  font-size: 30px;
  font-family: 'Bebas Neue';
  color: red;
}

#press1 {
  position: relative;
  left: 10px;
  width: 200px;
}

#press2 {
  position: relative;
  left: 500px;
  width: 250px;
  top: -220px;
}

#press3 {
  position: relative;
  left: 50px;
  width: 250px;
}

#press4 {
  position: relative;
  left: 1080px;
  top: -250px;
  width: 250px;
}

#press5 {
  position: relative;
  left: 20px;
  top: -170px;
  width: 250px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  color: black;
}

#press6 {
  position: relative;
  left: 130px;
  top: -420px;
  width: 150px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  color: black;
}

#press7 {
  position: relative;
  left: 670px;
  top: -580px;
  width: 200px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  color: black;
}

#press8 {
  position: relative;
  left: 1200px;
  top: -400px;
  width: 200px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  color: black;
}
